canvas{
    border:1px solid black;
}
#game-container{
    display:flex;
    justify-content:center;
    
}
h1{
    font-family:Calibri;
    font-size:5em;
    margin:0px;
}
#assets{
    display:none;
}